 
    <!-- Amount Input Field -->
    <div *ngIf="activeTab === 'Convert'" id="Convert" class="tabcontent">
        <div class="input-container">
            <!-- Amount Label -->
            <label for="amount">Amount</label>
            <br>
            <!-- Amount Input -->
            <input type="text" id="amount" name="amount" [(ngModel)]="amountValue" (input)="onAmountInputChange($event)">
        </div>

        <div class="fromAndSwap">
            <!-- From Input Field -->
            <div class="input-container">
                <!-- From Label -->
                <label for="from">From</label>
                <br>
                <!-- From Input -->
                <input type="text" id="from" name="from" [(ngModel)]="fromCurrency" (input)="onCurrencyInputChange($event, 'from')">
            </div>

            <!-- Swap Button -->
            <a class="input-container" id="swap"(click)="swapCurrencies()">
                <!-- Swap Icon -->
                <img src="/assets/swap-icon.png" alt="Swap Icon">
            </a>
        </div>

        <!-- To Input Field -->
        <div class="input-container">
            <!-- To Label -->
            <label for="to">To</label>
            <br>
            <!-- To Input -->
            <input type="text" id="to" name="to" [(ngModel)]="toCurrency" (input)="onCurrencyInputChange($event, 'to')">
        </div>
        <br><br>

        <!-- Convert Button -->
        <button (click)="makeApiRequest()" class="convert-button">Convert</button>
    </div>

    <!-- Result after converting -->
    <div id="results">
        <!-- Result Label -->
        <h1>{{ result }}</h1>
        <br>
        <!-- Conversion Rate -->
        <h5 id = "displayRate">{{ displayRate }}</h5>
    </div>



