<div class="image">
  <!-- <img src="./assets/background.jpg"> -->
</div>
<h1>Transaction History</h1>
<div class = "abc">
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>From</th>
          <th>To</th>
          <th>Rate</th>
          <th>Converted Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of TransactionHistory">
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.from }}</td>
          <td>{{ transaction.to }}</td>
          <td>{{ transaction.rate }}</td>
          <td id = "convertedAmount">{{ transaction.convertedAmount }}</td>
          <td>{{ transaction.currentDate | date:'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
      <br><br>
    </table>
</div>
</div>  
