
table{ 
    border: 1px solid rgb(215, 209, 209);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    left: 50%;
    width:85%;
    background-color: white;

}
table, th, td{
    border-collapse: collapse;
    margin: 90px 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #efefef;
}

th{ 
    font-size: 18px;
    border: 1px solid black;
}

td{
    border: 1px solid rgb(215, 209, 209);
}

@media (max-width: 414px){
    .table-container{
        background-color: red;
    }

    table, th, td{
        top: 65%;
        margin: 5px;
        margin-top: 200px;
        padding: 5px;
    }

    .table-container table{
        margin-right: 20%;
    }
}