.image{
    width: 100%; /* 1280 x 372  */
    height: 70px;
    background-color: #0f3773;
  }

h1{
    color: rgb(7, 7, 71);
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.table-container {
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 10px;
    height: 500px; /* Set the desired height for the table container */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #efefef;
}

@media (max-width: 414px){

    /* .table-container {
        background-color:red;
    } */

    h1{
        font-size: 25px;
    }

    .table-container{
        margin: 5px;
    }
    table {
        width: 20%;
        margin-left: 0px;
    }
    table, th, td{
        margin: 5px;
        padding: 4px;
    }

    #convertedAmount{
        padding-right: 1px;

    }
    
}
  