<div class="tab-container">
    <div class="tab-headings">
      <button (click)="onTabClick('Convert')" [class.active]="activeTab === 'Convert'" class="tablinks">Convert</button>
      <button (click)="onTabClick('Graph')" [class.active]="activeTab === 'Graph'" class="tablinks">Graph</button>
    </div>
  
    <!-- Amount Input Field -->
    <div *ngIf="activeTab === 'Convert'" id="Convert" class="tabcontent">
        <div class="input-container">
            <label for="amount">Amount</label>
            <br>
            <input type="text" id="amount" name="amount" [(ngModel)]="amountValue" (input)="onAmountInputChange($event)">
        </div>

        <!-- <div id = "swapButton"> -->
            <!-- From input field -->
            <div class="input-container">
                <label for="from">From</label>
                <br>
                <input type="text" id="from" name="from" [(ngModel)]="fromCurrency" (input)="onCurrencyInputChange($event, 'from')">
            </div>

            <!-- Swap Button -->
            <a class="input-container" (click)="swapCurrencies()">
                <img src="/assets/swap-icon.png" alt="Swap Icon">
            </a>
        <!-- </div> -->

        <!-- To Input Field -->
        <div class="input-container">
            <label for="to">To</label>
            <br>
            <span class="flag-icon" [class.flag-icon-{{toCurrency.toLowerCase()}}]="toCurrency"></span>
            <input type="text" id="to" name="to" [(ngModel)]="toCurrency" (input)="onCurrencyInputChange($event, 'to')">
        </div>
        <br><br>

        <!-- Convert Button -->
        <button (click)="makeApiRequest()" class="convert-button">Convert</button>
        
        <!-- Result after converting -->
        <div id = "results">
            <h3>{{ result }}</h3>
            <br>
            <h1>{{ displayConvertedAmount }}</h1>
            <br>
            <h4>{{ displayRate }}</h4>
        </div>

    </div>
        


 
    <!-- <div *ngIf="activeTab === 'Graph'" id="Graph" class="tabcontent">
        <button (click)="makeGraphApiRequest()" class="convert-button">Convert</button>

        <table>
          <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>From</th>
                <th>To</th>
                <th>Rate</th>
                <th>Converted Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactionHistory">
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.from }}</td>
                <td>{{ transaction.to }}</td>
                <td>{{ transaction.rate }}</td>
                <td>{{ transaction.convertedAmount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div> -->

<!-- Duplicate code error message
<div *ngIf="duplicateCurrencyMessage" class="error-message">
    {{ duplicateCurrencyMessage }}
</div> -->